@use "sass:math";

$out-of-range-color: white;
$out-of-range-bg-color: black;

$calendar-border: transparent;
$cell-border: #00061F;

$border-color: transparent;

$segment-width: percentage(math.div(1, 7));

$event-bg: #0C387D;
$event-border: darken(#0C387D, 20%);
$event-outline: white;
$event-color: white;
$event-border-radius: 5px;
$event-padding: .5rem .5rem;
$event-zindex: 4;

$btn-color: white;
$btn-border: transparent;

$today-highlight-bg: darken(#0C387D, 10%);

@import '~react-big-calendar/lib/sass/styles';