@use "sass:math";

$out-of-range-color: white;
$out-of-range-bg-color: black;

$calendar-border: transparent;
$cell-border: transparent;

$border-color: transparent;

$segment-width: percentage(math.div(1, 7));

$time-selection-color: white;
$time-selection-bg-color: rgba(0, 0, 0, 0.5);
$date-selection-bg-color: rgba(0, 0, 0, 0.1);

$event-bg: #3174ad;
$event-border: darken(#3174ad, 10%);
$event-outline: #3b99fc;
$event-color: #fff;
$event-border-radius: 5px;
$event-padding: 2px 5px;
$event-zindex: 4;

$btn-color: white;
$btn-border: transparent;

$today-highlight-bg: #0C387D;

@import '~react-big-calendar/lib/sass/styles';