@tailwind base;
@tailwind components;
@tailwind utilities;

.twitter-timeline {
    @apply rounded-lg shadow-lg
}

.cms-content ol {
    @apply flex flex-col gap-2 list-decimal list-inside
}

.cms-content ul {
    @apply flex flex-col gap-2 list-disc list-inside
}

.cms-content a {
    @apply underline
}

.rbc-calendar {
    @apply font-content;
}

.rbc-toolbar-label {
    text-align: right !important;
}

.rbc-date-cell {
    @apply py-2;
}

.rbc-month-view {
    @apply rounded-lg bg-blue-normal overflow-hidden;
    border: none !important;
}

.rbc-btn-group {
    @apply rounded-lg overflow-hidden shadow-lg
}

.rbc-btn-group button {
    background-color: #061435 !important;
    transition: background-color;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

.rbc-month-header .rbc-header {
    @apply py-2
}

.rbc-event:hover {
    @apply underline;
}

.rbc-btn-group button:hover {
    background-color: #0C387D !important;
}
